.form {
    border: 5px rgb(36, 52, 63) solid;
    background-color: rgb(107, 135, 157);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
}

input {
    height: 30px;
    width: 500px;
    border-color: black;
    margin: 10px 0px 5px 0px;
}

p {
    margin: 10px 0px 5px 0px;
}

h1 {
    text-align: center;
    color: rgb(4, 4, 55);
}

body {
    background-color: rgb(181, 207, 229);
}

.conteinerFilter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.FilterSDiv {
    border: 5px rgb(52, 73, 87) solid;
    background-color: rgb(177, 207, 230);
    padding-bottom: 20px;
}

.buttonFilter {
    margin-top: 15px;
}

button {
    height: 30px;
    width: 300px;
    background-color: rgb(214, 239, 255);
    border-color: rgb(18, 27, 32);
}

.tableDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    width: 100%;
}

td {
    border-bottom: black 1px solid;
}

th {
    color: rgb(3, 3, 67);
    font-weight: bold;
    padding-bottom: 10px;

}

